@font-face {
    font-family: Lato;
    src: url('Lato-Regular.ttf')  format('truetype');
}

body {
    font-family: Lato, Arial, Sans-Serif;
    max-width: 1024px;
    margin: auto;
    font-size: 20.0px;
}

tag {
    background-color: #ffcd17;
    border-width: 0;
    border-style: none;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
    font-size: .75em;
    color: #444444;
    cursor: default;
}

.project_container {
    margin-bottom: 7em;
    margin-left: 12px;
}

.project_title {
    font-size: 2em;
    padding-bottom: .1em;
    font-weight: bold;
}

.project_description {
    white-space: pre-line;
}

img {
    margin: 5px 10px 5px 0px;
    border-radius: 10px;
    height: auto;
}

video {
    margin: 5px 10px 5px 0px;
    border-radius: 5px;
}

iframe {
    max-width: 100%;
}

#header {
    font-size: 140.0px;
    padding-top: 5%;
}

#social_media_bar {
    padding-bottom: 14%;
}

#info {
    padding-bottom: 3%;
    font-size: 1.35em;
}

#email {
    padding-top: 1%;
}